.sidebar{
background-color: black;
color: blue;
width:200px;
height:100%;
position: fixed;
top: 0;
left: 0;
bottom: 0;
}
ul{
    list-style:none;
    margin:10px;
    padding: 30px;

}
li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    padding: 15px;
}
.sidebar a{
    text-decoration: none;
    color: aqua;

}
a:hover{
    background-color: brown;
    color: bisque;

}
.rounded-image{
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow-y: none;

}
.my-name{
    font-size: 40px;
}
.introduction{
    margin-left: 300px;

}
.introduction-text{
    font-size: 80px;

}
.contact-me{
    border: blueviolet;
    text-align: center;
    font-size: 20px;
}
.contact-me a{
    border: 1px solid black;
    border-radius:60px ;
}
.contact-me a :hover {
    background-color:white;
    color: black;
}
.read-morea{
    padding: 10px;
    border: 1px solid green;
}

.read-more a{
    color: white;
    background-color:black;
    padding:8px;
    font-size: 15px;
}
.read-more a:hover{
    background-color: white;
    color: black;
    transition: 20ms ease-in-out;
}